.App {
  margin: 0 auto;
  max-width: 1140px;
}

.home_page2 {
  align-items: center;
}

.home_page {
  display: flex;
  justify-content: center;
  color: aliceblue !important;
  text-shadow: 0 0 5px black, 0 0 10px black;
  cursor: pointer;
  text-decoration: none;
}

.my-button {}


.btn_home {
  text-shadow: 0 0 5px black, 0 0 10px black;
  cursor: pointer;
  text-decoration: none;
  color: aliceblue;
}

body {
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614597819_30-p-gori-na-belom-fone-52.jpg);
  font-family: COURIER;
  background-position: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.class_chat {
  text-shadow: 0 0 4px black, 0 0 3px black;
  cursor: pointer;
  text-decoration: none;
  color: aliceblue;
}

.class_chat_text {
  text-shadow: 0 0 1px white, 0 0 2px white;
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin-left: 55px;
}

.class_chat_general {
  display: flex;
  justify-content: center;
  color: aliceblue;
  text-shadow: 0 0 5px black, 0 0 10px black;
  cursor: pointer;
  text-decoration: none;
  margin-top: 45px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}